{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="pricing-section" style="text-align: center; margin-top: 3%;">
    <h1 style="background-color: rgb(104, 104, 176); color:white;">Choose your best price</h1>
    <!-- pricing section start here -->
    <section class="pricing section-padding" id="pricing">
        <div class="container">
            <div class="section-title">
                <span class="title">pricing</span>
                <h2 class="sub-title">our pricing plans</h2>
            </div>
            <div class="grid">
                <!-- basic plan starts -->
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3>basic</h3>
                        <div class="price"><span>$500</span>monthly</div>
                    </div>
                    <div class="pricing-body">
                        <ul>
                            <li>
                                <i class="fas fa-check"></i>carpet washing
                            </li>
                            <li>
                                <i class="fas fa-check"></i>home cleaning
                            </li>
                            <li>
                                <i class="fas fa-times"></i>bathroom cleaning
                            </li>
                            <li>
                                <i class="fas fa-times"></i>office cleaning
                            </li>
                            <li>
                                <i class="fas fa-times"></i>car cleaning
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#" class="btn">get started</a>
                    </div>
                </div>
                <!-- basic plan ends -->
                <!-- standard plan starts -->
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3>standard</h3>
                        <div class="price"><span>$700</span>monthly</div>
                    </div>
                    <div class="pricing-body">
                        <ul>
                            <li>
                                <i class="fas fa-check"></i>carpet washing
                            </li>
                            <li>
                                <i class="fas fa-check"></i>home cleaning
                            </li>
                            <li>
                                <i class="fas fa-check"></i>bathroom cleaning
                            </li>
                            <li>
                                <i class="fas fa-check"></i>office cleaning
                            </li>
                            <li>
                                <i class="fas fa-times"></i>car cleaning
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#" class="btn">get started</a>
                    </div>
                </div>
                <!-- standard plan starts -->
                <!-- premium plan starts -->
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3>premium</h3>
                        <div class="price"><span>$1000</span>monthly</div>
                    </div>
                    <div class="pricing-body">
                        <ul>
                            <li>
                                <i class="fas fa-check"></i>carpet washing
                            </li>
                            <li>
                                <i class="fas fa-check"></i>home cleaning
                            </li>
                            <li>
                                <i class="fas fa-check"></i>bathroom cleaning
                            </li>
                            <li>
                                <i class="fas fa-check"></i>office cleaning
                            </li>
                            <li>
                                <i class="fas fa-check"></i>car cleaning
                            </li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#" class="btn">get started</a>
                    </div>
                </div>
                <!-- premium plan starts -->
            </div>
        </div>
    </section>
    <!-- pricing section ends here -->
</div>
    

{% endblock %}